---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import BlogPostHeader from "../components/BlogPostHeader.astro";
import BlogPostHeroImage from "../components/BlogPostHeroImage.astro";
import BlogPostProse from "../components/BlogPostProse.astro";
import BlogPostProseHeader from "../components/BlogPostProseHeader.astro";
import Footer from "../components/Footer.astro";
type Props = CollectionEntry<"posts">["data"];

const post = Astro.props;
const { title, description, heroImage } = post;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={heroImage.src}
    />
  </head>

  <body>
    <BlogPostHeader />
    <main>
      <article>
        <BlogPostHeroImage
          image={heroImage}
        />
        <BlogPostProse>
          <BlogPostProseHeader
            post={post}
          />
          <slot />
        </BlogPostProse>
      </article>
    </main>
    <Footer />
  </body>
</html>
